
.Titulo {
    padding-top: 35px;

    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    background-image: url("https://wallpapercave.com/wp/wp4033148.jpg");
    background-position: center;

}

strong {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    background-image: url("https://wallpapercave.com/wp/wp4033148.jpg");
    margin-bottom: 10px;
    background-position: top;

    
}

.anime-list {
    background-image: url("https://images.hdqwalls.com/wallpapers/bthumb/view-from-my-home-12k-8z.jpg");
    margin: 80px;
    
}

.tops {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: black;
}

.top {
    display: flex;
    justify-content: start;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
}

.main-head {

    display: flex;
    justify-content: center;
    margin: 20px;


  
}

input {
    
    border: 1px solid;
    box-shadow: 5px 2px;
}

.search-box {
    width: 350px;
}

.link {
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    
}












